<?xml version="1.0"?>
<!--
/**
 * @category Ash FreightRandLCarrier
 * @package Ash_FreightRandLCarrier
 * @copyright Copyright (c) 2017 August Ash
 * @author August Ash Team <changes@augustash.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <freight>
                <model>Augustash\FreightRandLCarrier\Model\Carrier</model>
            </freight>
        </carriers>
    </default>
</config>
