<?xml version="1.0"?>
<!--
/**
 * @category Ash FreightRandLCarrier
 * @package Ash_FreightRandLCarrier
 * @copyright Copyright (c) 2017 August Ash
 * @author August Ash Team <changes@augustash.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Augustash_FreightRandLCarrier" setup_version="1.0.0">
        <sequence>
            <module name="Augustash_FreightBase" />
            <module name="Magento_Checkout" />
        </sequence>
    </module>
</config>
